.input-group-text {
  width: 150px;
  max-width: 100%;
  text-align: center;
}

table {
  width: 600px !important;
  max-width: 100%;
  margin: auto;
}

tbody, td, tfoot, th, thead, tr {
  vertical-align: middle;
  text-align: center;
}

.cont-all {
  background-color: aliceblue;
  border-radius: 30px;
}

.required-indicator {
  color: #f00;
  display: inline-block;
  font-size: 20px;
  line-height: 13px;
  padding-top: 13px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 20px;
  margin: auto;
  height: 30px;
}
.required-indicator:before {
  content: "*";
  display: block;
}